/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {*/
/*  background-color: red;*/
/*}*/
html, body {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: auto;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

/*#root {*/
/*  overflow-x: hidden;*/
/*}*/
